body{
    height: 2000px;
    background-color: #F5F5F5;
}

.top-wapper{
    width:100%;
    height:40px;
    background-color: #333;
    line-height: 40px;
}

.top-wapper a{
    color:#b0b0b0;
    font-size:12px;
    display:block;
}
.top-wapper a:hover{
    color:#fff;
}

.top-wapper .line{
   height: 12px;
   width:1px;
   background-color: rgba(255, 255, 255, 0.1);
   margin:14px 8px;
}

.item-list{
    float:left;
}
.item-list li{
    float:left;
}

.shopCar{
    float:right;
    padding:0px 10px;
    height: 40px;
    width:100px;
    background-color: #424242;
    text-align: center;
}

.shopCar:hover{
    background-color: #fff;
}

.shopCar a:hover{
    color: #ff9900fd;
}

.register{
    float:right;
    margin-right:30px;
}
.register li{
    float:left;
}

.app{
    position:relative;
}

.app:hover .qrcode{
    height: 148px;
}
.app:hover::after{
    display: block;
}

.app::after{
    content:'';
    border:8px solid transparent;
    display: none;
    height: 0;
    width: 0;
    border-top:none;
    border-bottom-color:#fff;
    position:absolute;
    top:32px;
    left:15px;
}

.qrcode{
    width: 124px;
    height: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position:absolute;
    left:-40px;

    transition: height 0.3s;
    z-index: 9999;
}

.qrcode img{
    margin:17px 17px;
    width: 90px;
    height: 90px;
}

.qrcode p{
    color:#333;
    margin-top:-34px;
    font-size: 14px;
}

.header-wrapper{
    position: relative;
}

.header{
    height: 100px;
}

.logo{
    float:left;
    background-color: #FF6701;
    margin-top:22px;
}

.logo a{
    display: block;
    width: 55px;
    height: 55px;
    background-image: url(../img/mi-logo.png);
    background-position: center;

}

.nav-wrapper{
    float:left;
    height: 100px;
    margin-left:7px;
    line-height: 100px;
    padding-left:60px;
}

.nav-wrapper li{
    float:left;
    padding-left:20px;
}

.nav a{
    font-size:16px;
    display:block;
}

.nav li a:hover{
    color:#FF6701;
}

.all-goods{
    visibility: hidden;
}

.hidden{
    width: 100%;
    height: 0;
    background: #fff;
    position: absolute;
    overflow: hidden;
    top:140px;
    left:0;
    transition: height 0.4s;
    z-index: 9999;
}

.nav .show-good:hover~.hidden,.hidden:hover{
     height:230px;
     border-top:1px solid rgb(224,224,224);
     box-shadow:0px 2px 3px rgba(0,0,0,0.3);
}

.search-wrapper{
    float:right;
    margin-top:25px;
    width: 296px;
    height: 48px;
    margin-right:-20px;
}

.search .search-inp{
    box-sizing: border-box;
    float:left;
    height: 48px;
    padding: 0;
    width:224px;
    font-size: 16px;
    padding:0 10px;
    border:1px solid rgb(224, 224, 224);
    outline: none;
}

.search .search-sub{
    float:left;
    height: 48px;
    width: 52px;
    border:none;
    padding: 0;
    background-color: #fff;
    border:1px solid rgb(224,224,224);
    border-left: none;
    font-size:18px;
    color:#616161;
}

.search .search-inp:focus+.search-sub,.search .search-inp:focus{
    border-color: red;
}

.search .search-sub:hover{
    background-color: #ff6701;
    color:#fff;
}

.banner{
    height: 460px;
    
}

.container{
    height: 100%;
}

.banner .left-side{
    height: 100%;
    width: 233px;
    background-color: #56585A;
    float:left;
    position: relative;
    z-index: 999;
}

.banner .right-side{
    height: 100%;
    width:991px;
    float:left;
}


.left-side .list a{
    display: block;
    height: 42px;
    line-height: 42px;
    font-size:14px;
    color:#fff;
    font-weight: 500;
    padding: 0 30px;
}

.list{
    margin: 20px 0;
}

.list a:hover{
    background-color: #FF6701;
}


.list li i{
    float:right;
    line-height: 42px;
}

.right-side{
    position: relative;
}

.right-side img{
    height:100%;
    margin-left:-235px;
}
.pointer{
    position:absolute;
    top:430px;
    left:880px;
}

.pointer a{
    float:left;
    width: 6px;
    height: 6px;
    background-color: #808586;
    border-radius: 50%;
    margin-right:8px;
    border:2px solid #B4B6B7;
}

.pointer .first-point{
    background: #E6EBEC;
    border-color: #8B8D8E;
}

.pointer a:hover{
    background: #E6EBEC;
    border-color: #8B8D8E;
}

.pre-next{
    position: absolute;
    width:100%;
    height: 69px;
    left:0;
    top:200px;
    z-index:999;
}

.pre-next .pre{
    float:left;
    width:41px;
    height: 100%;
    background-color: #D4DDE0;
    background-image: url(../img/icon-slides.png);
    background-position: 82px 0;
    
}
.pre-next .next{
    float:right;
    width:41px;
    height: 100%;
    background-color: #D4dde0;
    background-image: url(../img/icon-slides.png);
    background-position: 41px 0;
}

.pre-next .pre:hover{
    background-position: 0 0 ;
}

.pre-next .next:hover{
    background-position: -41px 0;
}

.back-top{
    position:fixed;
    width:26px;
    height: 206px;
    background-color: orange;
    
    right:50%;
    margin-right: -637px;
    bottom:60px;
    
}


.ad{
    height:169px;
    margin-top:14px;
}

.ad .shortcut{
    height: 168px;
    width:228px;
    background-color: #5F5750;
    padding-top:2px;
    padding-left:6px;
    margin-right: 14px;
}

.ad .shortcut,
.ad .ad-pic,
.ad .shortcut li
{
    float:left;
}

.ad .shortcut li{
    position:relative;
}

.ad .shortcut a{
    display: block;
    width: 75px;
    height: 85px;
    font-size: 12px;
    color: #CECCCA;
    text-align: center;
    overflow: hidden;
}

.ad .shortcut a:hover{
    color:#fff;
}

.ad .shortcut a i{
    display: block;
    font-size: 20px;
    margin-top:20px;
    margin-bottom:6px;
}

.ad .shortcut li::before{
    content:'';
    position: absolute;
    height: 1px;
    width: 66px;
    background-color: #665E57;
    left:5px;
    top:0;
    
}

.ad .shortcut li::after{
    content:'';
    position:absolute;
    width: 1px;
    height: 75px;
    background-color: #665e57;
    left:0px;
    top:3px;
}

.ad-pic{
    height:162px;
    width:978px;
}



.ad-pic li{
    float: left;
    margin-right: 14px;
    height:100%;
    width: 316px;
}

.ad-pic li:last-child{
      margin:0;
}

.ad-pic img{
    width:100%;
    vertical-align: top;
}

.mid-part{
    height:120px;
    margin-top:34px;
}

.mid-part img{
    width: 100%;
}

.phone{
    height:670px;
    margin-top:25px;
}


.phone .head-title{
    font-size: 21px;
    color: #333;
    margin:15px 0;
}

.phone .head-title a{
    float:right;
    font-size: 16px;
}

.phone .head-title a i{
    background-color: #B0B0B0;
    width: 20px;
    height:20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    margin-left:3px;
    color:#fff;
}

.phone .head-title a:hover
{
    color:#FF6701;
}

.phone .head-title a:hover i{
    background-color: #FF6701;
}

.phone .label{
    height:616px;
}

.phone .label li{
    float:left;
    width: 235px;
    height: 300px;
    margin-right:13px;
    margin-bottom: 15px;
    background-color: #fff;
    
}

.phone .label li:nth-of-type(4n+5){
    margin-right: 0;
}

.phone .label .first-label{
    height:616px;
    width: 234px;
    background-color: lightblue;
}

.phone .first-label img{
    height: 100%;
}

.phone .label li:hover{
    box-shadow: 0 5px 100px rgba(0, 0, 0, 0.1);
}

.label li .pic{
    width:171px;
    height: 171px;
    margin-top:20px;
    margin-bottom: 15px;
    margin-left: 30px;
}

.label li a{
    display: block;
    width: 100%;
    height: 100%;
}

.label li .pic img{
    width:100%;
}

.label li p{
    font-size:14px;
    height:16px;
    width:100%;
    text-align: center;
    line-height: 16px;
    margin-bottom: 6px;
}

.label li .mid-text{
    font-size:12px;
    color:#b0b0b0;
}

.label li .price-text{
    color:#FF772D;
    margin-top:13px;
}

/*  */

.furniture{
    height:670px;
    margin-top:25px;
}


.furniture .head-title{
    font-size: 21px;
    color: #333;
    margin:15px 0;
}

.furniture .head-title a{
    float:right;
    font-size: 16px;
}

.furniture .head-title a i{
    background-color: #B0B0B0;
    width: 20px;
    height:20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    margin-left:3px;
    color:#fff;
}

.furniture .head-title a:hover
{
    color:#FF6701;
}

.furniture .head-title a:hover i{
    background-color: #FF6701;
}

.furniture .label{
    height:616px;
}

.furniture .label li{
    float:left;
    width: 233px;
    height: 300px;
    margin-right:14px;
    margin-bottom: 15px;
    background-color: #fff;
    
}

.furniture .label li:nth-of-type(5n+5){
    margin-right: 0;
}

.furniture .label li:hover{
    box-shadow: 0 5px 100px rgba(0, 0, 0, 0.1);
}

.furniture .label li .pic{
    width:171px;
    height: 171px;
    margin-top:20px;
    margin-bottom: 15px;
    margin-left: 30px;
}

.furniture .label li a{
    display: block;
    width: 100%;
    height: 100%;
}

.label li .pic img{
    width:100%;
}

.label li p{
    font-size:14px;
    height:16px;
    width:100%;
    text-align: center;
    line-height: 16px;
    margin-bottom: 6px;
}

.label li .mid-text{
    font-size:12px;
    color:#b0b0b0;
}

.label li .price-text{
    color:#FF772D;
    margin-top:13px;
}

.furniture .all-img img{
     width:100%;
}













