.top-wapper{
    width:100%;
    height:40px;
    background-color: #333;
    line-height: 40px;
}

.top-wapper a{
    color:#b0b0b0;
    font-size:12px;
    display:block;
}
.top-wapper a:hover{
    color:#fff;
}

.top-wapper .line{
   height: 12px;
   width:1px;
   background-color: rgba(255, 255, 255, 0.1);
   margin:14px 8px;
}

.item-list{
    float:left;
}
.item-list li{
    float:left;
}

.shopCar{
    float:right;
    padding:0px 10px;
    height: 40px;
    width:100px;
    background-color: #424242;
    text-align: center;
}

.shopCar:hover{
    background-color: #fff;
}

.shopCar a:hover{
    color: #ff9900fd;
}

.register{
    float:right;
    margin-right:30px;
}
.register li{
    float:left;
}

.app{
    position:relative;
}

.app:hover .qrcode{
    height: 148px;
}
.app:hover::after{
    display: block;
}

.app::after{
    content:'';
    border:8px solid transparent;
    display: none;
    height: 0;
    width: 0;
    border-top:none;
    border-bottom-color:#fff;
    position:absolute;
    top:32px;
    left:15px;
}

.qrcode{
    width: 124px;
    height: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position:absolute;
    left:-40px;

    transition: height 0.3s;
    z-index: 9999;
}

.qrcode img{
    margin:17px 17px;
    width: 90px;
    height: 90px;
}

.qrcode p{
    color:#333;
    margin-top:-34px;
    font-size: 14px;
}




